<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kanti Bot - Login</title>
  </head>
  <body>
    <div class="header">
        <h1>Kanti Bot - Login</h1>
    </div>
    <div class="but">
      <<button type="button" onclick="/api/discord/login" name="button"></button>
    </div>
  </body>
</html>
